* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
a:hover{
  color: orange;
}
.div{
  margin-top: 15px;
}
.contain{
  position: absolute;
  box-sizing: border-box;
  width: 1340px;
  height: 100%;
  float: left;
  left: 0px;
  top: -8px;
}
.banner{
  position: relative;
  background-color: #333;
  color: white;
  font-size: 32px;
  border: 0px solid white;
  float: left;
  width: 100%;
}
.banner img{
  margin: 5px 0px 0px 35px;
}
.menu{
  position: relative;
  margin: 0px 5px 10px 40px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
}
.menu input{
  position: relative;
  border: 1px solid orange;
  float: left;
  height: 45px;
  width: 200px;
  background-color: #333;
  font-size: 20px;
  padding: 10px 0px 0px 20px;
  border-radius: 50px;
}
.top{
  position: relative;
  float: left;
  box-sizing: border-box;
  color: white;
  text-align: center;
}
.topimg{
  position: relative;
  float: left;
}
.top p{
  position: relative;
  float: left;
  color: white;
  text-align: center;
  margin: -450px 0px 30px 400px;
}
#serviços{
  position: relative;
  float: left;
  box-sizing: border-box;
  margin: -300px 100px 0px 100px;
}
.services{
  position: relative;
  margin: auto;
  box-sizing: border-box;
  float: left;
  color: white;
  font-size: 24px;
  margin-top: 45px;
  padding: 40px 10px 0px 25px;
  height: 400px;
  width: 400px;
}
#about{
  position: relative;
  float: left;
  padding: 40px;
  background-color: white;
}
.sobre{
  position: relative;
  margin: 0px 0px 0px 90px;
  float: left;
  box-sizing: border-box;
  width: 500px;
  text-align: left;
  font-size: 20px;
}
.aboutimg{
  position: relative;
  margin: -500px 0px 0px 450px;
  float: left;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.sobre button{
  position: relative;
  display: inline-block;
  width: 175px;
  height: 50px;
  border-radius: 25px;
  background-color: #FF8000;
  color: white;
  font-size: 18px;
}
#testimonials{
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  left: -8px;
  margin-top: 40px;
}
#depoimentos{
  position: relative;
  float: left;
  box-sizing: border-box;
  margin-top: -780px;
}
.dep1 img, .dep2 img{
  position: relative;
  float: left;
  margin-right: 20px;
  border-radius: 50px;
}
.dep1{
  position: relative;
  margin: 50px 0px 0px 100px;
  width: 450px;
  font-size: 16px;
  box-sizing: border-box;
  float: left;
}
.dep2{
  position: relative;
  margin: 50px 50px 50px 100px;
  width: 450px;
  font-size: 16px;
  box-sizing: border-box;
  float: left;
}
#depoimentos button{
  position: relative;
  width: 175px;
  height: 50px;
  border-radius: 25px;
  background-color: #FF8000;
  color: white;
  font-size: 18px;
  float: left;
  margin: 50px 0px 20px 60px;
}
#rol{
  position: relative;
  border: 0px solid black;
  width:100%;
  height: 300px;
  box-sizing: border-box;
  margin: -10px 0px 0px -8px;
  float: left;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.row{
  position: relative;
  margin-left: -10px;
  display: inline-block;
}
#ourcourses{
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  margin-top: 0px;
}
#cursos{
  margin: 0px 0px 0px 45px;
  position: relative;
  float: left;
  color: #333;
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}
.courses{
  position: relative;
  margin: 50px 10px 0px 50px;
  width: 300px;
  box-sizing: border-box;
  float: left;
}
.courses img{
  margin: 0px 15px 15px 15px;
  float: left;
}
#oblog{
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: -8px;
}
#blog{
  position: relative;
  width: 100%;
  height: 100%
  float: left;
}
#blog img{
  position: relative;
  float: left;
  margin: auto;

}
#theblog{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: -800px 0px 0px 0px;
  float: left;
}
.blog1{
  position: relative;
  margin: 0px 50px 80px 50px;
  float: left;
  box-sizing: border-box;
  width: 350px;
}
#bott{
  position: relative;
  float: left;
  background-color: #333;
  border-top: 1px solid orange;
  margin: -5px 0px 0px -8px;
  width: 100%;
  height: 100%;
  padding-top: 15px;
}
#bot{
  position: relative;
  float: left;
  margin: 0px 0px 0px 250px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 100%;
}
.menu2{
  position: relative;
  margin: 0px 30px 50px 30px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  color: white;
  left: 0px;
  font-size: 16px;
}
#img img{
  position: relative;
  box-sizing: border-box;
  float: left;
}
#email{
  position: relative;
  float: left;
  margin-top: -400px;
  margin-left: 100px;

}
#email input{
  position: relative;
  float: left;
  border: 1px solid orange;
  border-radius: 30px;
  width: 700px;
  box-sizing: border-box;
  height: 61px;
  color: white;
  background-color: #00000094;
  padding: 0px 0px 0px 30px;
  font-size: 16px;
}
#email button{
  position: relative;
  float: left;
  color: #FFFFFF;
  border-radius: 50px;
  background: #ff880f;
  height: 62px;
  width: 62px;
  border: none;
  margin: 0px 0px 0px -60px;
}
a{
  text-decoration: none;
  color: white;
}
[class*="col-"] {
    float: left;
    width: 100%;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .col-p-1 {width: 8.33%;}
    .col-p-2 {width: 16.66%;}
    .col-p-3 {width: 25%;}
    .col-p-4 {width: 33.33%;}
    .col-p-5 {width: 41.66%;}
    .col-p-6 {width: 50%;}
    .col-p-7 {width: 58.33%;}
    .col-p-8 {width: 66.66%;}
    .col-p-9 {width: 75%;}
    .col-p-10 {width: 83.33%;}
    .col-p-11 {width: 91.66%;}
    .col-p-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 992px) {
    .col-g-1 {width: 8.33%;}
    .col-g-2 {width: 16.66%;}
    .col-g-3 {width: 25%;}
    .col-g-4 {width: 33.33%;}
    .col-g-5 {width: 41.66%;}
    .col-g-6 {width: 50%;}
    .col-g-7 {width: 58.33%;}
    .col-g-8 {width: 66.66%;}
    .col-g-9 {width: 75%;}
    .col-g-10 {width: 83.33%;}
    .col-g-11 {width: 91.66%;}
    .col-g-12 {width: 100%;}
}
@media only screen and (min-width: 1200px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
